/* 

.isCompleted{
  font-size: small;
  background: green;
  color: white;
  padding: 16px;
  border-radius: 8px;
  width: 20px;
}
.isNotCompleted{
  font-size: small;
  background-color: red;
  color: white;
  padding: 16px;
  border-radius: 8px;
  width: 20px;
} */